@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  /* background-color: #b4f0b4; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-news-theme: #7fff00;
  --color-fixtures-theme: #ea168e;
  --color-summary-btn: #8000ff;
  --color-notification-theme: #6effbf;
  --color-news-bg-theme: #023002;
  --color-fixtures-bg-theme: #530330;
  --color-fixtures-cards-bg: #f9c4f9;

  --animate-wiggle: wiggle 1s ease;
  --animate-wiggle-inf: wiggle 1s ease infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(15deg);
    }
  }
}
